body {
    margin: 2px;
    margin-top: 50px;
    font-family: sans-serif;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

#Intro {
    text-align: right;
}

#stupid {
    padding: 20px;
}

a:link {
    text-decoration: underline;
}

a:hover{
    color: cornflowerblue;
}